/* Ejemplo de hoja de estilo */

/* Estilo para el cuerpo del HTML */
body {
  background-image: url("imagenes/naranja.png");
}

/* Estilo para las etiquetas de tipo h1 */
.Encabezados {
  color: black;
  background-color: #d67a00;
  text-align: center;
  border-style: solid;
}

.Primera_zona {
  float: left;
}

.logos {
  margin-top: 30px;
  width: 100px;
}

.minilogos {
  width: 15px;
}

.Segunda_zona {
  overflow: auto;
}

.Informacion_relevante {
   margin-left: 10px;
}

.Descripciones {
   margin-left: 30px;
}
