body {
  background-color: grey;
}

.umbrales{
  position: absolute;
  top: 70px; left: 700px;
}

#range_valueR{
  position: absolute;
  left: 150px;
  top: 35px;
}

#range_valueG{
  position: absolute;
  left: 150px;
  top: 112px;
}

#range_valueB{
  position: absolute;
  left: 150px;
  top: 189px;
}

#grises{
  position: absolute;
  top: 400px;
  left: 700px;
}

#originals{
  position: absolute;
  top: 400px;
  left: 850px;
}

#color_sepia{
  position: absolute;
  top: 450px;
  left: 700px;
}

#color_invertido{
  position: absolute;
  top: 450px;
  left: 850px;
}
